extends layout

block styles
	link(rel='stylesheet', href='/css/bootstrap.min.css')

block scripts
	script(src='/js/lib/bootstrap.js')
	script(src='http://code.jquery.com/jquery.js')
	script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')

block content
	div(id="fb-root")
	script(type='text/javascript')
		window.fbAsyncInit = function() {
			// init the FB JS SDK
			FB.init({
			appId      : '576850129012966',                        // App ID from the app dashboard
			channelUrl : 'http://arcane-atoll-7643.herokuapp.com/channel.html', // Channel file for x-domain comms
			status     : true,                                 // Check Facebook Login status
			xfbml      : true                                  // Look for social plugins on the page
			});

		FB.Event.subscribe('auth.authResponseChange', function(response) {
			// Here we specify what we do with the response anytime this event occurs. 
			if (response.status === 'connected') {
				testAPI();
			} else if (response.status === 'not_authorized') {
				FB.login();
			} else {
				FB.login();
			}
		});

		console.log(#{isLoggedIn});
		};
		
		// Load the SDK asynchronously
		(function(d){
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document));

		function testAPI() {
			console.log('Welcome!  Fetching your information.... ');
			FB.api('me/feed?fields=type,source,from,to&limit=5000', function(response) {
				//- console.log(response);

				for (int i=0; i<response.data.length; i++){
					if (response.data[i].type == "video")
					{
						console.log(response.data[i]);
					}
				}
			});
		}

		function info(){
			//console.log('Good to see you, ' + response.name + '.');
			//$('#hello').innerHTML('Good to see you, ' + response.name + '.');

			$.ajax({
				url: "/user",
				type: "POST",
				data: { name: "Salman Gadit", id: "1"},
				dataType: "json",
				success: function (result) {
					console.log(result);
					switch (result) {
						case true:
							console.log("Successful data POST");
							window.location = "/login";
							break;
						default:
							 console.log("Went to default");
							//resultDiv.html(result);
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					console.log(xhr.status);
					console.log(thrownError);
				}
			});
		}

		function login() {
			// @TODO: Comment this line out and uncomment the rest!
			//window.location = "/login";

			FB.login(function(response) {
				if (response.authResponse) {
					// connected
					testAPI();
			
				} else {
					// cancelled
				}
			}, {scope: 'email,read_stream'});

			//info();
		}

	if(isLoggedIn==false)
		div(class='hero-unit pagination-centered')
			h1= title
			p Organise your social media clutter.
			button(onclick = "login();", class='btn-large btn-primary') Login via Facebook
			//fb:login-button(show-faces="true" width="200" max-rows="1")
	else
		div(style="background-color:rgb(238, 238, 238);")
			div(class="header row well")
				div(class="span3 pagination-centered")
					h1 Shelf
					h6 Because every wall needs one
				div(class="span9")

			hr(class="soften", style="border-bottom-color:#A8A8A8;")

			div(class="row")
				div(class="span4")
					div(class="well")
						ul(class="nav nav-list")
							li(class="active")
								a(href="#") Home
							li
								a(href="#") Library
							li
								a(href="#") Invite
							li(class="divider")
							li
								a(href="#") Profile
							li
								a(href="#") Settings
							li(class="divider")
							li
								a(href="#") Logout
							li
								a(href="#") About

				div(class="span10 pagination-centered")
					br
					input(type="text", height="300", rows="3", placeholder="Place song link here...", class="input-xxlarge" ) 
					br
					input(type="text", placeholder="Start typing Facebook friends to tag...", class="input-xxlarge")
					br
					button(onclick = "", class='btn-large btn-warning') Tune in!
				