extends layout

block styles
	link(rel='stylesheet', href='/css/bootstrap.min.css')

block scripts
	script(src='/js/lib/bootstrap.js')
	script(src='http://code.jquery.com/jquery.js')
	script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')

block content
	div(id="fb-root")
	script(type='text/javascript')
		window.fbAsyncInit = function() {
			// init the FB JS SDK
			FB.init({
			appId      : '576850129012966',                        // App ID from the app dashboard
			channelUrl : 'http://localhost:3000/channel.html', // Channel file for x-domain comms
			status     : true,                                 // Check Facebook Login status
			xfbml      : true                                  // Look for social plugins on the page
			});

		FB.Event.subscribe('auth.authResponseChange', function(response) {
			// Here we specify what we do with the response anytime this event occurs. 
			if (response.status === 'connected') {
				console.log(window.location);
				if (window.location.pathname != "/login"){
					window.location = "/login";
					return;
				}

				info(response.authResponse.accessToken);
			} else if (response.status === 'not_authorized') {
				FB.login();
			} else {
				FB.login();
			}
		});

		console.log(#{isLoggedIn});
		};
		
		// Load the SDK asynchronously
		(function(d){
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document));

		function info(accessToken){
		console.log('Creating/Finding user');
			FB.api('/me', function(response) {
				console.log(response);
				$.ajax({
					url: "/user",
					type: "POST",
					data: { 
						fb_fname: response.first_name, 
						fb_lname:response.last_name, 
						fb_id: response.id, 
						fb_token:	accessToken
							},
					dataType: "json",
					success: function (result) {
						console.log(result);
						switch (result) {
							case true:
								console.log("Successful data POST");
								scrapeFeed(response.id);
								break;
							default:
								console.log("Went to default");
								//resultDiv.html(result);
						}
					},
					error: function (xhr, ajaxOptions, thrownError) {
						console.log(xhr.status);
						console.log(thrownError);
					}
				});
			});
		}

		function scrapeFeed(fbid){
				$.ajax({
					url: "/poster/"+fbid,
					type: "GET",
					success: function (result) {
						console.log("Result:" + result);
						//This should trigger feed and in backend scraping must continue
					},
					error: function (xhr, ajaxOptions, thrownError) {
						console.log(xhr.status);
						console.log(thrownError);
					}
				});
		}

		function login() {
			// @TODO: Comment this line out and uncomment the rest!
			//window.location = "/login";

			FB.login(function(response) {	
				if (response.authResponse) {
					// connected
					testAPI();
			
				} else {
					// cancelled
				}
			}, {scope: 'email,read_stream'});

			info();
		}

	if(isLoggedIn==false)
		br
		br
		div.row
			.col-md-3
			.jumbotron.text-center.col-md-6
				h1= title
				p Organise your social media clutter.
				button(onclick = "login();", class='btn-lg btn-primary') Login via Facebook
			.col-md-3
	else
		.navbar.navbar-default
			.container
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-responsive-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") Shelf
				.navbar-collapse.collapse.navbar-responsive-collapse
					ul.nav.navbar-nav
						li.active
							a(href="#") Home
						li
							a(href="#") Library
						li
							a(href="#") Invite
						li
							a(href="#") About
					ul.nav.navbar-nav.navbar-right
						li
							a(href="#") Profile
						li
							a(href="#") Settings
						li
							a(href="#") Logout
						
		//- div(class="header row well")
		//- 	div(class="col-md-3")
		//- 		h1 Shelf
		//- 		h6 Because every wall needs one
		//- 	div(class="col-md-9")

		.container	
			div.row
				div.col-md-3
					h1 Filter bar here
				div.col-md-9.list-group
					.list-group-item.row(style="background-color:rgb(252,252,252);")
						.row
							.navbar.navbar-inverse
								.navbar-brand John Doe
							.col-md-8
								h5 Post title
								img.img-responsive.img-thumbnail(src="/img/t20final.jpg", alt="holder.js/560x315")
							.col-md-4
								h5.text-right Date
								.well
									h6 Tagged
									ul
										li user 1
										li user 2
						hr
						.row
							.btn-group.btn-group-justified
								a.btn.btn-primary 
									span.glyphicon.glyphicon-chevron-up
									|   Upvote
								a.btn.btn-info 
									span.glyphicon.glyphicon-chevron-down
									|   Downvote
								a.btn.btn-success 
									span.glyphicon.glyphicon-share
									|   Share
					hr
					.list-group-item.row(style="background-color:rgb(252,252,252);")
						.row
							.navbar.navbar-inverse
								.navbar-brand John Doe
							.col-md-8
								h5 Post title
								img.img-responsive(src="/img/t20final.jpg")
							.col-md-4
								h5.text-right Date
								.well
									h6 Tagged
									ul
										li user 1
										li user 2
						hr
						.row
							.col-md-4.text-center
								h5 Upvote
							.col-md-4.text-center
								h5 Downvote
							.col-md-4.text-center
								h5 Share
					hr
